*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(15, 15, 43);
    color: white;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(3, 3, 65);
    height: 99px;
    /* position:; */
    /* padding: 0 20px; */

}
header{
    background-color: rgb(3, 3, 65);
    width: 100%;
    /* position: absolute; */
    top: 0;
    /* z-index: 1000; */
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    padding: 20px;
    position: relative;
    list-style: none;
}
nav ul li a{
   text-decoration: none;
   color: aliceblue;
}
nav ul li a:hover{
    color: rgb(64, 64, 204);
    font-size: 1.02rem;
    
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin:20px;
    padding-top: 50px;
}
.leftsection{
    /* background-color: red; */
    height:20rem;
    width: 44rem;
    font-size: 3rem;
    position: relative;
    top:  20vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.button{
    padding: 40px 0px;
}
button{
    padding: 10px;
    background-color: #22226f;    
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 7px;
    text-align: center;
}
.button a{ 
    text-decoration: none;
}
.rightsection img{
    position: relative;
    top:-100px;
    height: 37rem;
    width: 32rem;
}
span{
    color: rgb(52, 52, 205);;
}
main hr{
    width: 32rem;
    position: relative;
    top: -105px;
}
